* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Opcional: personalizar popups */
.leaflet-popup-content {
  font-size: 14px;
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}
